<!-- @template screens/home-two | @owner publisher | @since RMS-PUB-20261008-01 | presenter: presenters/views.js#homeTwo -->
<div class="rms-home-refresh rms-home-gov">{{{globalSearchHtml}}}{{{headHtml}}}{{{homeMainBlocksHtml}}}<div class="rms-gov-bottom">
  <div>{{{homeIconHtml}}}<span>
  <strong>우리 기업에 맞는 기술닥터를 만나보세요.</strong>전문분야와 지원가능 지역을 함께 확인할 수 있습니다.</span>
  <a href="#doctors">기술닥터 찾기 {{{homeIconHtml2}}}</a>
  </div>
  <div>{{{homeIconHtml3}}}<span>
  <strong>기업지원에 대해 궁금하신가요?</strong>자주 묻는 질문과 공개 Q&A에서 확인하세요.</span>
  <a href="#boards/qna">Q&A 보기 {{{homeIconHtml4}}}</a>
  </div>
  </div>
  </div>
